In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go

In [3]:
df = pd.read_excel("data/Data23.xlsx")
df.head(10)

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount
0,1,500546547,2017-01-01 01:40:39.180,10334,MOBILE,Cash,51.00,No
1,2,500240813,2017-01-01 03:27:58.490,10610,WEB,Cash,108.00,No
2,3,500460527,2017-01-01 04:42:46.500,10579,MOBILE,Cash,22.50,No
3,4,500338383,2017-01-01 06:25:01.430,10720,WEB,Mobile Payment,42.00,No
4,5,500591427,2017-01-01 11:19:41.550,10677,MOBILE,Mobile Payment,59.70,No
5,6,500335677,2017-01-01 11:41:57.600,10677,MOBILE,Mobile Payment,89.70,No
6,7,500431839,2017-01-01 12:03:37.540,10173,MOBILE,Cash,30.00,No
7,8,500308309,2017-01-01 12:03:58.120,10506,MOBILE,Cash,101.49,No
8,9,500263440,2017-01-01 12:14:56.290,10561,MOBILE,Cash,228.00,No
9,10,500489028,2017-01-01 12:21:54.360,10561,MOBILE,Cash,138.00,No

In [4]:
df['UserID'].value_counts()

500338383    698
500454268    443
500301456    405
500599622    371
500450451    296
            ...
500291369      1
500487697      1
500447371      1
500547581      1
500283955      1
Name: UserID, Length: 3581, dtype: int64

In [5]:
df.info

<bound method DataFrame.info of        TransactionID     UserID                DateTime  ProductID Channel  \
0                  1  500546547 2017-01-01 01:40:39.180      10334  MOBILE
1                  2  500240813 2017-01-01 03:27:58.490      10610     WEB
2                  3  500460527 2017-01-01 04:42:46.500      10579  MOBILE
3                  4  500338383 2017-01-01 06:25:01.430      10720     WEB
4                  5  500591427 2017-01-01 11:19:41.550      10677  MOBILE
...              ...        ...                     ...        ...     ...
69059          69060  500527737 2018-06-30 22:44:07.910      10696  MOBILE
69060          69061  500398938 2018-06-30 23:04:05.390      10541  MOBILE
69061          69062  500367467 2018-06-30 23:08:45.750      10526  MOBILE
69062          69063  500268709 2018-06-30 23:39:23.920      10680     WEB
69063          69064  500301456 2018-06-30 23:56:14.570      10224     WEB

              PaymentType   Price Discount
0                    Cash   51.00       No
1                    Cash  108.00       No
2                    Cash   22.50       No
3          Mobile Payment   42.00       No
4          Mobile Payment   59.70       No
...                   ...     ...      ...
69059                Cash   48.00       No
69060                Cash   75.00       No
69061                Cash   50.25       No
69062  Online Credit Card   66.00       No
69063                Cash   59.85       No

[69064 rows x 8 columns]>

In [6]:
df['DateTime']

0       2017-01-01 01:40:39.180
1       2017-01-01 03:27:58.490
2       2017-01-01 04:42:46.500
3       2017-01-01 06:25:01.430
4       2017-01-01 11:19:41.550
                  ...
69059   2018-06-30 22:44:07.910
69060   2018-06-30 23:04:05.390
69061   2018-06-30 23:08:45.750
69062   2018-06-30 23:39:23.920
69063   2018-06-30 23:56:14.570
Name: DateTime, Length: 69064, dtype: datetime64[ns]

In [7]:
# filter the dataframe to include only the first 9 months
df_first_9_months = df.loc[(df['DateTime'] >= '2017-01-01') & (df['DateTime'] < '2017-10-01')]

df_first_9_months

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount
0,1,500546547,2017-01-01 01:40:39.180,10334,MOBILE,Cash,51.00,No
1,2,500240813,2017-01-01 03:27:58.490,10610,WEB,Cash,108.00,No
2,3,500460527,2017-01-01 04:42:46.500,10579,MOBILE,Cash,22.50,No
3,4,500338383,2017-01-01 06:25:01.430,10720,WEB,Mobile Payment,42.00,No
4,5,500591427,2017-01-01 11:19:41.550,10677,MOBILE,Mobile Payment,59.70,No
...,...,...,...,...,...,...,...,...
29545,29546,500505033,2017-09-30 22:18:18.370,10445,WEB,Cash,19.50,No
29546,29547,500517606,2017-09-30 22:27:33.070,10489,MOBILE,Mobile Payment,194.67,No
29547,29548,500602691,2017-09-30 22:39:23.890,10372,MOBILE,Cash,46.80,No
29548,29549,500474684,2017-09-30 22:49:34.770,10534,MOBILE,Cash,27.00,No
29549,29550,500238778,2017-09-30 23:38:31.380,10494,MOBILE,Mobile Payment,71.97,No

In [8]:
df_last_9_months = df.loc[ df['DateTime'] >= '2017-10-01']

In [9]:
df_last_9_months

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount
29550,29551,500522226,2017-10-01 00:09:28.360,10224,MOBILE,Cash,60.00,No
29551,29552,500301456,2017-10-01 00:14:02.880,10224,MOBILE,Cash,57.00,No
29552,29553,500279071,2017-10-01 01:23:00.270,10481,MOBILE,Cash,45.00,No
29553,29554,500387630,2017-10-01 01:23:12.890,10127,WEB,Cash,90.00,No
29554,29555,500370316,2017-10-01 02:50:03.780,10720,WEB,Cash,31.50,No
...,...,...,...,...,...,...,...,...
69059,69060,500527737,2018-06-30 22:44:07.910,10696,MOBILE,Cash,48.00,No
69060,69061,500398938,2018-06-30 23:04:05.390,10541,MOBILE,Cash,75.00,No
69061,69062,500367467,2018-06-30 23:08:45.750,10526,MOBILE,Cash,50.25,No
69062,69063,500268709,2018-06-30 23:39:23.920,10680,WEB,Online Credit Card,66.00,No
69063,69064,500301456,2018-06-30 23:56:14.570,10224,WEB,Cash,59.85,No